<li class="nav-item">
    <% if user_signed_in? %> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %> 
        <% else %>
        <%= button_to "Sign in", new_user_session_path, class: 'nav-link' %> 
    <% end %>
</li>