<li class="nav-item d-flex align-items-center">
    <%= link_to "Profile", '/profile', class: 'nav-link' %>
    <% if !can? :manage, Food  %>
    <%= link_to carts_path, class: 'btn btn-primary' do %>
        Cart <span class="badge text-bg-secondary"><%= cart_items_count %></span>
    <% end %>
    <% end %>
</li>