<% if can? :manage, Food %>
    <li class="nav-item"><%= link_to 'Foods', foods_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Add Food', new_food_path, class: 'nav-link' %></li>
<% end %>
