<li class="nav-item"><%= link_to 'Restaurants', restaurants_path, class: 'nav-link' %></li>
<% if can? :manage, Restaurant %>
  <li class="nav-item"><%= link_to 'Add Restaurant', new_restaurant_path, class: 'nav-link' %></li>
<% end %>