<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Need Food! We are here help you with it.</h1>
                <p class="fs-4">Order food from restaurants near you.</p>
                <%= link_to 'Discover now', restaurants_path, class: 'btn btn-primary btn-lg' %>
            </div>
        </div>
    </div>
</header>